{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/sales_style.css' %}">
{% endblock %}
<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .row.text-center .col-md-3 {
        display: flex;
    }

    .row.text-center .col-md-3 .card {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>

<div class="container mt-4">
    <h2 class="text-center mb-4"> Sales Report</h2>
    <div class="row text-center">
        <div class="col-md-3">
            <div class="card p-3">
                <h5>Total Sales</h5>
                <p class="fw-bold" style="color: #B5B95D;">₹ {{ total_sales|floatformat:2 }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3">
                <h5>Number of Orders</h5>
                <p class="fw-bold" style="color: #0d5cb6;">{{ num_orders }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3">
                <h5>Discounts & Refunds</h5>
                <p class="fw-bold" style="color: #d12f0e;">₹ {{ total_discounts|floatformat:2 }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3">
                <h5>Best-Selling Items</h5>
                <p class="fw-bold text-wrap" style="color: #F89B34; white-space: normal;">{{ best_selling_item }}</p>
            </div>
        </div>
    </div>



    <div class="card mt-4 p-3">
        <h3>Sales Details</h3>
        <div class="d-flex mb-3">
            <input type="text" id="searchInput" class="form-control me-2" placeholder="Search by order id or date">
            <span>
                <button class="search-btn btn btn-outline-primary" style="background-color: #f9c784;color: black;"
                    onclick="filterTable()">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Table ID</th>
                        <th>Total amount</th>
                        <th>Payment Method</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Rating</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}

                    <tr>
                        <td>#{{ sale.order.order_id }}</td>
                        <td>{{ sale.order.table.table_id }}</td>
                        <td>₹ {{ sale.order.total_amount }}</td>
                        <td>{{ sale.payment_method }}</td>
                        <td>{{ sale.date }}</td>
                        <td>{{ sale.time }}</td>
                        <td>
                            {% if sale.rating %}
                            ⭐ {{ sale.rating.rating }}/5
                            {% else %}
                            <span style="color: gray;">Not Rated</span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn receipte-btn" style="background-color: #4E598C;color: white;"
                                href="{% url 'staffside:print_bill' sale.sales_id %}">
                                Reprint Receipt
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

<script src="{% static 'js/sales_scripts.js' %}"></script>