/* Centering the content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
}

/* Profile Picture Container */
.profile-pic-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

/* Profile Picture */
.profile-pic {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

