{% load static %}
{% block title %}
<title>Food-Items</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/fooditem_style.css' %}">
{% endblock %}

<div class="food-items-page">
  <div class="food-item-title mt-4">
    <h3>FOOD ITEMS</h3>

    
    <div class="search-container">
      <input type="text" id="searchInput" class="search-input" placeholder="Search by category or name">
      <button class="search-btn" onclick="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table fooditem-detail-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Branch</th>
          <th>Special</th>
        </tr>
      </thead>
      <tbody id="foodTableBody">
        {% for item in food_items %}
        <tr>
          <td>{{ item.id }}</td>
          <td>
            {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.name }}" width="50" height="50">
            {% else %}
            No Image
            {% endif %}
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.category.categories_name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.branch.location }}</td>
          <td>
            {% if item.is_special %}
              <i class="fas fa-star" style="color: gold;"></i>
            {% else %}
              <i class="fas fa-circle" style="color: gray;"></i> 
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="9" style="text-align: center;">No food items available</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="{% static 'js/fooditem_scripts.js' %}"></script>
