{% load static %}
{% block title %}
<title>Purchases</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/purchase_style.css' %}">
{% endblock %}

<div class="food-items-page">
  <div class="food-item-title mt-4">
    <h3>PURCHASE</h3>

    <div class="search-container">
      <input type="text" id="searchInput" class="search-input" placeholder="Search by food-item">
      <button class="search-btn" onclick="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>
    </div>

    <button class="open-button add-fooditems-button rounded-3" onclick="openForm(false)">
      <span class="btn-text">
        <i class="fa-solid fa-plus plus-icon"></i> Add Details
      </span>
      <span class="btn-icon"><i class="fa-solid fa-plus plus-icon"></i></span>
    </button>
  </div>

  <div class="overlay" id="overlay" onclick="closeForm()"></div>
  <div class="form-popup" id="myForm">
    <form id="purchaseForm" class="form-container">
        <h1 class="mb-3">Add details</h1>
      

        <div class="form-group">
          <div class="input-group">
              <label for="foodItem"><b>Food Item</b></label>
              <input type="text" id="foodItem" placeholder="Enter Food Item" required>
              
          </div>
          <div class="input-group">
             <label for="quantity">Quantity</label>
             <input type="number" name="Null" id="quantity" placeholder="Enter Quantity" required>
          </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <label for="cost">Cost Price</label>
          <input type="number" name="Null" id="cost" placeholder="Enter Cost price" required>
        </div>


        <div class="input-group">
            <label for="SupID"><b>Supplier ID</b></label>
            <input type="text" id="SupID" placeholder="Enter Supplier ID" required>
            
        </div>
       
    </div>

    
    <div class="form-group">
      <div class="input-group">
        <label for="purchaseDate"><b>Purchased Date</b></label>
        <input type="date" id="purchaseDate" placeholder="Enter Purchased Date" required>
        
      </div>
       
      <div class="input-group">
        <label for="status">Payment Status </label>
        <select id="status">
         <!-- <option value="">Payment Status</option> -->
         
        </select>
     </div>
    </div>


        <div class="form-buttons">
          <button type="submit" class="btn">Add</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </div>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table stores-detail-table">
      <thead style=" border-bottom: 2px solid #333 !important">
        <tr>
          <th>ID</th>
          <th>Food Item</th>
          <th>Quantity</th>
          <th>Cost Price</th>
          <th>Supplier ID</th>
          <th>Purchased Date</th>
          <th>Payment Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="purchaseTableBody"></tbody>
    </table>
  </div>
</div>

<script src="{% static 'js/purchase_scripts.js' %}"></script>


