{% load static %} 
{% block title %}
<title>REPORT</title>
{% endblock %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/reports_style.css' %}" />
{% endblock %}

<div class="staff-page">
  <div class="staff-title mt-4">
    <h3>REPORTS</h3>

    <div class="filter-container">
      <label for="incomeDropdown" class="filter-label">Filter By:</label>
      <select id="incomeDropdown" class="dropdown" onchange="filterReports()">
        <option value="all">All</option>
        <option value="today">Today</option>
        <option value="monthly">Monthly</option>
        <option value="yearly">Yearly</option>
      </select>
    </div>
  </div>

  <br>

  <table>
    <thead>
      <tr style="border-bottom: 2px solid black;">
        <th>Date</th>
        <th>Branch</th>
        <th>Product</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in data %}
      {% for branch in entry.branches %}
      {% for product in branch.products %}
      <tr style="border-bottom: 1px solid grey;">
        {% if forloop.parentloop.first and forloop.first %}
        <td rowspan="{{ branch.products|length }}"
          style="border-right: 1px solid grey; border-bottom: 1px solid grey; padding: 5px;">
          {{ entry.date }}
        </td>
        <td rowspan="{{ branch.products|length }}"
          style="border-right: 1px solid grey; border-bottom: 1px solid grey; padding: 5px;">
          {{ branch.branch_name|join:"" }}
        </td>
        {% endif %}
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
      {% endfor %}
      {% endfor %}
      {% empty %}
      <tr>
        <td colspan="7" class="text-center">No branches found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="{% static 'js/reports_scripts.js' %}"></script>
