{% load static %} 
{% block title %}
<title>REPORT</title>
{% endblock %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/reports_style.css' %}" />
{% endblock %}

<div class="staff-page">
  <div class="staff-title mt-4">
    <h3>REPORTS</h3>

    <div class="filter-container">
      <label for="incomeDropdown" class="filter-label">Filter By:</label>
      <select id="incomeDropdown" class="dropdown" onchange="filterReports()">
        <option value="all">All</option>
        <option value="today">Today</option>
        <option value="monthly">Monthly</option>
        <option value="yearly">Yearly</option>
      </select>
    </div>
  </div>

  <br>

  <table>
    <thead>
      <tr style="border-bottom: 2px solid black;">
        <th>Date</th>
        <th>Branch</th>
        <th>Product</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody >
      {% for entry in data %}
        <tr>
          <td rowspan="{{ entry.date_rowspan }}" style="border-bottom: 1px solid gray;border-right: 1px solid gray;" >{{ entry.date }}</td>
          {% for branch in entry.branches %}
            <td rowspan="{{ branch.product_count }}" style="border-bottom: 1px solid gray;border-right: 1px solid gray;">{{ branch.branch_name }}</td>
            {% for product in branch.products %}
              <td style="border-bottom: 1px solid gray;">{{ product.name }}</td>
              <td style="border-bottom: 1px solid gray;">{{ product.quantity }}</td>
            </tr>
            {% if not forloop.last %}<tr>{% endif %}
            {% endfor %}
          {% endfor %}
        {% if not forloop.last %}</tr>{% endif %}
      {% endfor %}
    </tbody>    
  </table>
</div>

<script src="{% static 'js/reports_scripts.js' %}"></script>
