{% load static %}
{% block title %}
<title>Sale & Reports</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/reports_style.css' %}">
{% endblock %}

<div class="food-items-page">
  <div class="food-item-title mt-4">
    <h3>SALES &   REPORTS</h3>

    
    <div class="search-container">
      <input type="text" id="searchInput" class="search-input" placeholder="Search by category or name">
      <button class="search-btn" onclick="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table fooditem-detail-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity Sold</th>
          <th>Total Price</th>
          <th>Sold Date</th>
        </tr>
      </thead>
      <tbody id="salesTableBody">
        {% for item in sales_reports %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.category.categories_name }}</td>
          <td>{{ item.quantity_sold }}</td>
          <td>{{ item.total_price }}</td>
          <td>{{ item.sold_date }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" style="text-align: center;">No sales reports available</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>    
  </div>
</div>

<script src="{% static 'js/fooditem_scripts.js' %}"></script>
