{% load static %}
{% block title %}
<title>Sales Report</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sales_style.css' %}" />
{% endblock %}

<div class="staff-page">
  <div class="staff-title mt-4">
    <h3>SALES</h3>

    <div class="search-container" id="searchContainer">
      <input
        type="text"
        id="searchInput"
        class="search-input"
        placeholder="Search by Order ID"
        onkeyup="searchTable()"
      />
      <button class="search-btn" onclick="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>
    </div>
    
  </div>

  <div class="row">
    <div class="da-box">
      <form method="GET">
        <select name="filter" class="dropdown" onchange="this.form.submit()">
          <option value="">All</option>
          <option value="today" {% if request.GET.filter == "today" %}selected{% endif %}>Today</option>
          <option value="monthly" {% if request.GET.filter == "monthly" %}selected{% endif %}>Monthly</option>
          <option value="yearly" {% if request.GET.filter == "yearly" %}selected{% endif %}>Yearly</option>
        </select>
      </form>
    </div>
  </div>

  <br>
  <div class="table-wrapper">
  <table class="table" id="salesTable">
    <thead>
      <tr style="border-bottom: 2px solid black;">
        <th>Sale ID</th>
        <th>Order ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>Branch</th>
        <th>Payment Method</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for sale in data %}
      <tr>
        <td>{{ sale.sales_id }}</td>
        <td>{{ sale.order_id }}</td>
        <td>{{ sale.date }}</td>
        <td>{{ sale.time }}</td>
        <td>{{ sale.branch }}</td>
        <td>{{ sale.payment_method }}</td>
        <td>{{ sale.total_amount }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" style="text-align: center;">No data available</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

<script src="{% static 'js/sales_scripts.js' %}"></script>