.dashboard-container {
  margin-left: 10px;
}

.title-row {
  margin-top: 24px;
}

.graph-row {
  margin-top: 10px;
  width: 1290px;
}

.sales-box {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: left;
  width: 580px;
  height: 347px;
}

.btn-report {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #4e598c;
  color: white;
  border-radius: 20px;
  padding: 7px 15px;
  text-decoration: none;
  font-size: 14px;
}

.sales-container {
  display: flex;
  flex-direction: column;

  gap: 3px;
}

.sales-title {
  margin: 0px;
  font-size: 15px;
  font-weight: 700;
}

.sales-value {
  font-size: 20px;
  font-weight: 700;
  color: #ff8c42;
  margin-bottom: 2px;
}

.sales-percentage {
  color: #4e598c;
  font-size: 12px;
  font-weight: 500;
  margin-top: -5px;
}

.chart-container {
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

.graph-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.metric {
  font-size: 26px;
  font-weight: bold;
  color: #6c5ce7;
}

.green-text {
  color: green;
  font-size: 14px;
}

.red-text {
  color: red;
  font-size: 14px;
}

.stat-card-income {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  width: 100%;
  height: 347px;
}

.donut-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#donut-chart {
  width: 250px;
  height: 250px;
}

h21 {
  text-align: center;
  font-family: "Verdana", sans-serif;
  font-size: 40px;
}

.stat-card1 {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  width: 100%;
  height: 169px;
}

.stat-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 165, 0, 0.2);
  padding: 8px;
  border-radius: 50%;
}

.stat-icon-green {
  background-color: rgba(0, 200, 83, 0.2);
}

.stat-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #555;
}

.stat-percentage {
  font-size: 15px;
  font-weight: 500;
}

.stat-percentage.negative {
  color: #ff8c42;
}

.stat-percentage.positive {
  color: green;
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

.progress {
  height: 4px;
  border-radius: 10px;
  margin-top: 10px;
}

.progress-bar {
  background-color: orange;
}

.progress-bar-green {
  background-color: green;
}

.detail-row {
  margin-top: 40px;
  margin-left: 1px;
}

.da-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.best-employee-container {
  margin-left: -7px;
}

.sales-title {
  margin: 0px;
  font-size: 15px;
  font-weight: 700;
}

.dropdown {
  float: right;
  padding: 5px;
  font-size: 14px;
}

@media (max-width: 1246px) and (min-width: 1218px) {
  .best-employee-container {
    margin-left: 147px;
  }
}
@media (max-width: 1217px) and (min-width: 1192px) {
  .best-employee-container {
    margin-left: 152px;
  }
}

@media (max-width: 1191px) and (min-width: 1120px) {
  .best-employee-container {
    margin-left: 188px;
  }
}

@media (max-width: 1119px) and (min-width: 1098px) {
  .best-employee-container {
    margin-left: 200px;
  }
}

@media (max-width: 1097px) and (min-width: 1058px) {
  .best-employee-container {
    margin-left: 218px;
  }
}

@media (max-width: 1057px) and (min-width: 1024px) {
  .best-employee-container {
    margin-left: 232px;
  }
}

@media (max-width: 1024px) {
  .graph-row {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .stat-card-income {
    width: 500px;
  }

  .stat-card1 {
    width: 500px !important;
    height: auto !important;
  }

  .donut-chart-container {
    height: auto;
  }

  .detail-row {
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .best-employee-container {
    margin-left: 0px;
  }
}
