* {
  font-family: "Nunito", sans-serif;
}
:root {
  --color: #5e6790;
}
.staff-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  width: 100%;
}

.filter-container {
  margin-right: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.filter-label {
  font-size: 16px;
  font-weight: bold;
}

.dropdown {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}


@media (max-width: 768px) {
  .staff-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.messages {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 300px;
}

.alert {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  overflow: hidden;
}

.alert-success {
  background-color: #4E598C; /* Deep Blue */
  color: white;
}

.alert-warning {
  background-color: #FF8C42; /* Vibrant Orange */
  color: white;
}

.alert-info {
  background-color: #F9C784; /* Soft Yellow */
  color: #4E598C; /* Deep Blue text */
}

.alert::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.8);
  animation: progressBar 3s linear forwards;
}

@keyframes progressBar {
  0% { width: 100%; }
  100% { width: 0; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  padding: 10px;
  text-align: left;
}

img {
  border-radius: 5px;
  object-fit: cover;
}
