body { 
    display: flex;
    font-family: "Nunito", sans-serif;
    margin: 0;
}

:root {
    --color: #5e6790;
  }

.top-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 108px;
    z-index: 1000;
}

.user-info{
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 13px;
}
.user-info .notification i{
    font-size: 18px;
}

.user-info i {
    margin-top: -6px;
    font-size: 40px;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: white;
    color: black;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
}

.pos-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    color: black;
    border-bottom: 2px solid #555;
    flex-shrink: 0;
}

.sidebar ul {
    list-style: none;
    padding: 10px;
    flex-grow: 1;
}

.sidebar ul li {
    padding: 2px;
    margin: 5px;
    cursor: pointer;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.sidebar ul li a i {
    margin-right: 12px;
    font-size: 18px;
}

.sidebar ul li a.active {
    background-color: #4E598C;
    color: white !important;
    font-weight: 600;
}

.content {
    margin-left: 250px;
    padding: 130px 30px 20px; 
    width: calc(100% - 250px);
    height: 100vh;
    background-color: rgb(226, 228, 231);
    overflow-y: auto;
}

@media (max-width: 768px) {
    .sidebar {
        width: 70px;
    }
    
    .sidebar ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar ul li {
        width: 100%;
        text-align: center;
    }

    .sidebar ul li a {
        justify-content: center;
        padding: 10px 0;
    }

    .sidebar ul li a i {
        font-size: 14px;
        width: 100%;
        text-align: center;
    }

    .sidebar ul li a.active {
        margin: 12px;
        padding: 13px;
        height: 30px;
        width: 30px;
    }

    .sidebar ul li a span {
        display: none; /* Hide text */
    }

    .top-navbar {
        left: 70px; 
        height: 108px;
    }

    .pos-name h2 {
        font-weight: bold;
        font-size: 15px; 
        padding: 3px 0;
        display: flex;
        flex-direction: column; 
    }
    .content {
        margin-left: 70px;
        padding: calc(108px + 20px) 20px 20px;
        width: calc(100% - 70px);
    }
}

